kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: seclab
containerdConfigPatches:
  - |-
    [plugins."io.containerd.grpc.v1.cri".registry]
      config_path = "/etc/containerd/certs.d"
nodes:
  - role: control-plane
    extraMounts:
      - hostPath: ${HOME}/seclab/containerd-certs.d
        containerPath: /etc/containerd/certs.d
        readOnly: true
