vulnerabilities:
  - id: CVE-2023-32681
    purls:
      - "pkg:pypi/requests@2.25.0"
    statement: "EXC-2026-001: Migration requests in 1.2.0"
    expired_at: ${EXPIRES}
  - id: CVE-2024-35195
    purls:
      - "pkg:pypi/requests@2.25.0"
    statement: "EXC-2026-001: Migration requests in 1.2.0"
    expired_at: ${EXPIRES}
