pve_node            = "pve1"
vm_datastore        = "local-lvm"
snippet_datastore   = "local"
bridge              = "vmbr0"
# vlan_id           = 20
ssh_public_key_file = "~/.ssh/id_ed25519.pub"
gpu_mapping         = "gpu0"
