api_addr     = "http://127.0.0.1:8300"
cluster_addr = "http://127.0.0.1:8301"
listener "tcp" {
  address         = "127.0.0.1:8300"
  cluster_address = "127.0.0.1:8301"
  tls_disable     = 1
}
storage "raft" {
  path    = "$PWD/data"
  node_id = "selfinit"
}
seal "static" {
  current_key_id = "lab-1"
  current_key    = "file://$PWD/unseal.key"
}
initialize "auth" {
  request "enable-userpass" {
    operation = "update"
    path      = "sys/auth/userpass"
    data      = { type = "userpass" }
  }
}
initialize "admin" {
  request "admin-policy" {
    operation = "update"
    path      = "sys/policies/acl/bao-admin"
    data      = { policy = "path \"sys/*\" { capabilities = [\"read\", \"list\"] }" }
  }
  request "admin-user" {
    operation = "update"
    path      = "auth/userpass/users/admin"
    data = {
      password = {
        eval_type       = "string"
        eval_source     = "env"
        env_var         = "INITIAL_ADMIN_PASSWORD"
        require_present = true
      }
      token_policies = ["bao-admin"]
    }
  }
}
