apiVersion: kyverno.io/v2
kind: PolicyException
metadata:
  name: exc-2026-002-legacy-batch
  namespace: policy-exceptions
  labels:
    seclab.example/expires: "${EXPIRES}"
  annotations:
    seclab.example/owner: "team-batch@example.org"
    seclab.example/approver: "security@example.org"
    seclab.example/ticket: "SEC-130"
    seclab.example/register-id: "EXC-2026-002"
spec:
  exceptions:
    - policyName: require-run-as-non-root
      ruleNames:
        - check-run-as-non-root
        - autogen-check-run-as-non-root
  match:
    any:
      - resources:
          kinds:
            - Pod
            - Deployment
            - ReplicaSet
          namespaces:
            - demo
          names:
            - legacy-batch*
